@model IList<Models.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

@if (!Model.Any())
{
    using (Html.BeginForm())
    {
        for (int i = 0; i < 3; i++)
        {
            <fieldset>
                <legend>Person @(i + 1)</legend>
                <div>
                    <label>First Name:   </label>@Html.TextBox("[" + i + "].FirstName")
                </div>
                <div>
                    <label>Last Name:    </label>@Html.TextBox("[" + i + "].LastName")
                </div>
                <div>
                    <label>Role:         </label>@Html.TextBox("[" + i + "].Role")
                </div>
                <div>
                    <label>Date of Birth:</label>@Html.TextBox("[" + i + "].BirthDate")
                </div>
                <div>
                    <label>Line1:        </label>@Html.TextBox("[" + i + "].HomeAddress.Line1")
                </div>
                <div>
                    <label>Line2:        </label>@Html.TextBox("[" + i + "].HomeAddress.Line2")
                </div>
                <div>
                    <label>Postal Code:  </label>@Html.TextBox("[" + i + "].HomeAddress.PostalCode")
                </div>
                <div>
                    <label>City:         </label>@Html.TextBox("[" + i + "].HomeAddress.City")
                </div>
                <div>
                    <label>Country:      </label>@Html.TextBox("[" + i + "].HomeAddress.Country")
                </div>
                
            </fieldset>
        }
        <button type="submit">Submit</button>
    }
}
else
{
    foreach (var item in Model)
    {
        <h4>Person</h4>
        <fieldset>
            <p>First Name : @item.FirstName</p>
            <p>Last Name : @item.LastName</p>
            <p>Role : @item.Role</p>
            <p>Date of Birth: @item.BirthDate</p>
            <p>Address Line2 : @item.HomeAddress.Line2</p>
            <p>AddressSummary : @item.HomeAddress.AddressSummary</p>
        </fieldset>
    }
    Html.ActionLink("Back", "Index");
}