@model Task_Day_3.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="side.light">


    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side)
        </dd>


    </dl>
    <input type="text" value=@Model.Side.ToString() name="Side" id="valueSide" hidden/>
</div>
@section Footer{

    @*<input type="button" value="Join side" onclick="location.href='@Url.Action("JoinSide", "Home", new { personId = Model.Id })'" id="btnChangeSide" />*@
@using (Html.BeginForm("JoinSide", "Home", new { personId = Model.Id }))
{
    <input type="submit" value="Join side" name="value" class="btn btn-default" id="btnChangeSide" />
}
}

@section Header{

    @Html.Partial("HeaderView")

    }