@model Task_Day_3.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side)
        </dd>


    </dl>
</div>
@section Footer{
@Html.Action("Footer", "Home", Model);
    }
@*@section Header{
    @Html.Partial("HeaderView", Model);
    }*@