@model Task_Day_3.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="side light">
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side)
        </dd>


    </dl>
</div>
@section Footer{

@*@Html.Action("Footer", "Home", Model);*@
<input type="button"  value="Join side" onclick="location.href='@Url.Action("JoinSide", "Home", new { personId = Model.Id })'" />
    }
@section Header{

    @Html.Partial("HeaderView");

    }